<a
  [routerLink]="['']"
  class="logo"
>
  <img
    class="logo__image"
    src="/img/logo.png"
    alt="Клуб Туристов"
  />
</a>
<ul class="top-nav">
  <li class="top-nav__item">
    <ul class="top-nav__submenu">
      <li class="top-nav__sub-item">
        <a class="top-nav__sub-link"[routerLink]="['']">Зимовий відпочинок</a>
      </li>
      <li class="top-nav__sub-item">
        <a class="top-nav__sub-link"[routerLink]="['']">Карпати</a>
      </li>
    </ul>
    <a
      [routerLink]="['']"
      class="top-nav__link"
    >
      Наші тури
    </a>
  </li>
</ul>
<ul class="header__contacts">
  <li class="header__phone-number">(093)86-99-916</li>
  <li class="header__phone-number">(093)86-99-916</li>
</ul>